[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "torchsig"
description = "Signal Processing Machine Learning Toolkit"
authors = [
    {name = "TorchSig Team"},
]
readme = "README.md"
requires-python = ">=3.8"
license = {text = "MIT"}
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
]
keywords = ["signal processing", "machine learning"]
dependencies = [
    "torch==2.3.0",
    "torchvision",
    "tqdm",
    "opencv-python==4.8.0.74",
    "numpy",
    "scipy",
    "h5py",
    "matplotlib",
    "numba",
    "ipdb",
    "PyWavelets",
    "pandas",
    "lmdb",
    "scikit-learn",
    "gdown",
    "icecream",
    "timm==1.0.7",
    "pytorch_lightning",
    "sympy",
    "numba",
    "torchmetrics",
    "click"
]
dynamic = ["version"]

[tool.setuptools.dynamic]
version = {attr = "torchsig.__version__"}

# [project.optional-dependencies]
# pdf = ["ReportLab>=1.2", "RXP"]
# rest = ["docutils>=0.3", "pack ==1.1, ==1.3"]
