[build-system]
requires = ["uv_build<=0.8.19,<0.9.0", "setuptools>=61", "setuptools-rust>=1.10"]
build-backend = "uv_build"

[project]
name = "torchsig"
description = "Signal Processing Machine Learning Toolkit"
version = "2.0.0"
authors = [{ name = "TorchSig Team" }]
readme = "README.md"
requires-python = ">=3.11,<=4.0"
license = "MIT"
license-files = ["LICENSE.md"]
keywords = ["signal processing", "machine learning"]

classifiers = [
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Rust"
]

dependencies = [
    "torch",
    "torchvision",
    "torchaudio",
    "tqdm",
    "numpy",
    "scipy",
    "h5py",
    "matplotlib",
    "pandas",
    "PyWavelets",
    "scikit-learn",
    "timm",
    "lightning>=2.0.0,<3.0.0",
    "ultralytics==8.3.57",
    "torchinfo",
    "sigmf",
    "numcodecs==0.13.1",
    "opencv-python==4.8.0.74",
    "jupyter_bbox_widget",
]

# --- Optional dependency groups ---
[dependency-groups]
dev = [ # installed by default with `uv sync`
    { include-group = "test" },
    "ruff"
]

test = [
    "pytest",
    "pytest-cov"
]

docs = [
    "better-apidoc>=0.3.2",
    "numba",
    "recommonmark>=0.7.1",
    "six",
    "sphinx-rtd-theme==2.0.0",
    "Sphinx>=7.4.7"
]

[project.urls]
Homepage = "https://torchsig.com/"
Documentation = "https://torchsig.readthedocs.io/en/latest/index.html"
Repository = "https://github.com/TorchDSP/torchsig.git"
Issues = "https://github.com/TorchDSP/torchsig/issues"


[tool.uv.build-backend]
module-name = "torchsig"

# --- Rust extension module (PyO3) ---
[[tool.setuptools-rust.ext-modules]]
target = "torchsig.utils.rust_functions"
path = "rust_functions/Cargo.toml"
binding = "PyO3"
debug = false
optional = false

# --- Ruff config ---
[tool.ruff]
line-length = 100
extend-select = ["I", "E", "F", "W"]
# ignore = ["E501"]  # preserve long lines from autoformatting

[tool.ruff.lint]
select = ["E", "F", "W", "I"]

[tool.ruff.lint.isort]
known-first-party = ["torchsig"]

[tool.coverage.run]
branch = true
source = ["torchsig"]

[tool.coverage.report]
show_missing = true
skip_covered = true
omit = [
    "torchsig/image_datasets/*",
    "torchsig/models/*"
]

[tool.pytest.ini_options]
markers = [
    "slow: marks tests as slow (deselect with '-m \"not slow\"')"
]
addopts = "-m 'not slow' --cov=torchsig --cov-report=xml --cov-report=term --junitxml=report.xml"
testpaths = ["tests"]
