torch
torchvision
tqdm
opencv-python
numpy
scipy
h5py
matplotlib
PyWavelets
pandas
scikit-learn
torchaudio
timm
pytorch_lightning
ultralytics
jupyter_bbox_widget
torchinfo
sigmf
pytest
zarr==2.18.3
pylint
pytest-cov
pip-tools
