name: Python

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  ruff:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install Python dependencies
        run: |
          uv venv
          source .venv/bin/activate
          uv sync --only-group dev

      - name: Run ruff
        run: |
          uv run ruff check .


  pytest:
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install Python dependencies
        run: |
          uv venv
          source .venv/bin/activate
          uv sync --only-group dev

      - name: Run pytest
        run: |
          uv run pytest

      - name: Comment coverage
        if: github.event_name == 'pull_request'
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-xml-coverage-path: coverage.xml
        continue-on-error: true

