name: mypy

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v3
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}
      - name: Build package
        run: |
          python -m pip install --upgrade pip
          python -m pip install .
      - name: Static type check with mypy
        run: |
          pip install mypy==1.2.0
          mypy --ignore-missing-imports --disable-error-code typeddict-item --disable-error-code typeddict-unknown-key torchsig

